@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gluten", sans-serif;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

:root {
  --oq: #1e1e1e;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: url("../img/cursor.svg") 20 20, auto;
}

body {
  background: linear-gradient(90deg, rgba(251, 237, 174, 0.31), rgba(195, 219, 200, 0.2196078431));
  background-image: url("../img/Screenshot 2023-12-03 143707.png");
  background-size: contain;
}

.container {
  margin: 0 auto;
  max-width: 103.6rem;
}

h2 {
  color: var(--oq);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

header {
  height: 77.9rem;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  padding: 5rem 0;
}
nav .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container img {
  width: 50%;
}
nav .container a {
  color: var(--oq);
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 150%;
  text-decoration: none;
}
nav .container a:hover {
  text-decoration: underline;
}

.hero {
  margin-top: 9rem;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .container img {
  width: 100%;
}
.hero .container > div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .container > div h1 {
  color: var(--oq);
  font-size: 7.1rem;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.hero .container > div h3 {
  color: var(--oq);
  text-align: right;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
}

.natijalarimiz .container {
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.natijalarimiz .container img {
  width: 90%;
}
.natijalarimiz .container ul {
  margin-top: 7rem;
}
.natijalarimiz .container ul li {
  list-style: none;
  margin: 2rem auto;
  color: var(--oq);
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 142%;
}

.sabab img {
  width: 90%;
}
.sabab h2 {
  margin: 0 auto;
  max-width: 65.6rem;
  text-align: center;
  padding: 9rem 0;
}
.sabab .container {
  margin: 5rem auto;
  display: flex;
}
.sabab .container .cards {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sabab .container .cards .card {
  margin: 2rem 0;
  width: 90%;
  padding: 3rem;
  border-radius: 3rem;
}
.sabab .container .cards .card:hover {
  transform: scale(1.04);
}
.sabab .container .cards .card p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.0198rem;
}
.sabab .container .img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  background-color: #a5d114;
}

.card2 {
  background-color: #2db260;
}

.card3 {
  background-color: #aa28a8;
}

.card4 {
  background-color: #f280bd;
}

.card5 {
  background-color: #837676;
}

.card6 {
  background-color: #837676;
}

.xaridorlarimiz {
  margin: 30rem 0;
}
.xaridorlarimiz h2 {
  zoom: 1.2;
  transform: translateX(-10rem);
  margin-bottom: 5rem;
}
.xaridorlarimiz .container {
  zoom: 0.8;
}
.xaridorlarimiz .container .photos {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4rem;
}
.xaridorlarimiz .container .photos img {
  width: 30%;
}
.xaridorlarimiz .container .photos img:hover {
  transform: scale(2);
}
.xaridorlarimiz .container a {
  margin-top: 5rem;
  width: 100%;
  border-radius: 5rem;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  background: rgba(224, 181, 112, 0.889);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: -0.0198rem;
  text-decoration: none;
}
.xaridorlarimiz .container a:hover {
  background: rgba(234, 149, 13, 0.889);
}

footer {
  background-image: url("../img/istockphoto-1173556266-2048x2048-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border: 1px solid transparent;
}
footer .container .links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
footer .container .links .card {
  margin: 0 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15rem 0;
}
footer .container .links .card .img {
  border: 1px solid black;
  width: 15.7rem;
  height: 15.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
footer .container .links .card .img:hover img {
  transform: scale(2);
}
footer .container .links .card a {
  color: var(--oq);
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 150%;
  text-decoration: none;
}
footer .container .links .card a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 1087px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 987px) {
  html {
    font-size: 45%;
  }
  footer img {
    width: 70%;
  }
}
@media screen and (max-width: 890px) {
  html {
    font-size: 40%;
  }
  li,
  p {
    font-size: 2rem !important;
  }
  .xaridorlarimiz img:hover {
    transform: scale(1) !important;
  }
  footer .img:hover img {
    transform: scale(1) !important;
  }
}
@media screen and (max-width: 796px) {
  html {
    font-size: 35%;
  }
  .sabab p {
    font-size: 2.4rem !important;
  }
}
@media screen and (max-width: 695px) {
  nav {
    padding: 5rem 0;
  }
  nav .container {
    margin: 0 2rem;
  }
  .hero {
    margin-top: 0rem;
  }
  .hero .container {
    margin: 0 4rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
  }
  .hero .container h3 {
    text-align: center !important;
  }
  .hero .container > div:nth-child(1) {
    align-items: center;
  }
  .natijalarimiz .container {
    height: 80rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .natijalarimiz .container .img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .natijalarimiz .container img {
    width: 60%;
  }
  .sabab img {
    width: 40%;
  }
  .sabab .container {
    justify-content: center;
    flex-direction: column;
  }
  .sabab .container:nth-child(3) {
    flex-direction: column-reverse;
  }
  .sabab .container .cards {
    width: 100%;
  }
  .sabab .container .img {
    width: 100%;
  }
  .xaridorlarimiz h2 {
    transform: translateX(0rem);
  }
  .xaridorlarimiz .container {
    margin: 0 3rem;
  }
  .xaridorlarimiz .container .photos {
    padding: 5rem 0;
  }
  .xaridorlarimiz .container .photos img {
    width: 48%;
    height: 48%;
  }
  .xaridorlarimiz .container a {
    padding: 3rem;
    font-size: 3rem;
  }
  footer {
    background-size: 100%;
  }
  footer .container .links {
    margin: 10rem auto;
    justify-content: center;
    gap: 5rem;
  }
  footer .container .links .card {
    flex-direction: column;
    margin: 0;
  }
  footer .container .links .card .img {
    width: 10rem;
    height: 10rem;
  }
  footer .container .links .card a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 420px) {
  .natijalarimiz .container ul li {
    font-size: 2.4rem !important;
  }
  .sabab .container h2 {
    min-width: 100% !important;
  }
  .hero h1 {
    font-size: 4rem !important;
  }
  .hero h3 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */